.homePage {
	width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Segoe UI', Arial, sans-serif;

	background-image: url('../../images/back.jpg');

	&__container {
		display: flex;
		flex-direction: column;
		text-align: center;
		padding: 20px;
		gap: 20px;
		background-color: #fff;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		border-radius: 20px;
	}

	h1 {
		color: #2d3a4a;
		font-weight: 600;
	}

	p {
		color: #4b5563;
	}

	input[type='text'] {
		padding: 10px 16px;
		border: 1px solid #cbd5e1;
		border-radius: 8px;
		font-size: 1rem;
		outline: none;
		transition: border 0.2s;
	}

	input[type='text']:focus {
		border-color: #7b61ff;
	}

	button {
		color: #fff;
		border: none;
		border-radius: 20px;
		padding: 10px 24px;
		font-size: 1rem;
		font-weight: 700;
		background-color: #8ecaff;
		box-shadow: 0 2px 8px #e0e7ef;
		transition: background-color 0.2s ease;
		cursor: pointer;
	}

	button:hover {
		background: #5a43c2;
	}

	&__error {
		color: #e11d48;
	}
}
